// 语法 https://segmentfault.com/a/1190000000357534

extends layout

block content
  h1= title
  p Welcome to #{title}
  .home_body 你是谁，想干嘛
  #home 哈哈哈
  .home-title 哈哈哈
  a(href='/users', title='View login page') 用户
